.error {
    color: red;
}

.form-control {
    border-radius: 5px;
    box-shadow: none;
}

label {
    font-weight: unset;
}

.form-border-error {
    border-color: red;
}

.btn-primary {
    margin-bottom: 10px;
    border-radius: 5px;
}